body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    padding: 10px 50px;
}
footer {
    padding: 15px 30px;
}
.form-delivery {
    background-color: rgb(241, 222, 200);
    color: #555;
}