{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App33 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/site.css' %}" />
    <link rel="icon" href="{% static 'img/Python.png' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/Python.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Project-33
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/clonning" title="Інструкція з клонування проєкту з Гітхаба">
                            <i class="bi bi-copy me-3" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/layouting"><i class="bi bi-layout-text-window-reverse me-3" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statics"><i class="bi bi-file-image me-3" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/params"><i class="bi bi-file-bar-graph me-3" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forms"><i class="bi bi-ui-checks me-3" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form-styled"><i class="bi bi-postcard me-3" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           title="Форми:Практика. Форма доставки замовлення"
                           href="/form-delivery">
                            <i class="bi bi-truck me-3" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           title="Моделі. Збереження даних у БД"
                           href="/models">
                            <i class="bi bi-database-add me-3" style="font-size: 1.5rem;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           title="Сідування: внесення початкових даних у базу"
                           href="/seed">
                            <i class="bi bi-flower3" style="font-size: 1.5rem;"></i></a>
                    </li>
                </ul>

                <form class="d-flex mx-auto" role="search" method="get" action="/params">
                    <input class="form-control me-2" type="search" 
                           name="q" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <a class="nav-link" 
                   title="Адмін панель"
                   href="/admin">
                    <i class="bi bi-speedometer2 me-3" style="font-size: 1.5rem;"></i>
                </a>
                <a class="nav-link" 
                   title="Реєстрація нового користувача"
                   href="/signup">
                    <i class="bi bi-person-add me-3" style="font-size: 1.5rem;"></i>
                </a>
                <!-- Button trigger modal -->
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#authModal">modal</button>
 
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
    {% block content %}{% endblock %}
    </main>

    <footer class="bg-body-tertiary border-top">
        &copy; 2025, IT STEP Academy
    </footer>
    <!-- Modal --><div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1 class="modal-title fs-5" id="exampleModalLabel">Автентифікація</h1><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
    <div class="modal-body">
    <div class="input-group mb-3">
                <label 
                    class="input-group-text" 
                    for="auth-modal-login"
                    id="auth-modal-login-addon">
                        <i class="bi bi-key"></i>
                </label>
                <input 
                    type="text" 
                    class="form-control"
                    id="auth-modal-login"
                    placeholder="Логін" 
                    aria-label="Логін" 
                    aria-describedby="auth-modal-login-addon"/>
                <div class="invalid-feedback">
                    Неприпустиме значення
                </div>
            </div>
            <div class="input-group mb-3">
                <label 
                    class="input-group-text" 
                    for="auth-modal-password"
                    id="auth-modal-password-addon">
                        <i class="bi bi-lock"></i>
                </label>
                <input 
                    type="password" 
                    class="form-control"
                    id="auth-modal-password"
                    placeholder="Пароль" 
                    aria-label="Пароль" 
                    aria-describedby="auth-modal-password-addon"/>
                <div class="invalid-feedback">
                    Неприпустиме значення
                </div>
            </div>
            <div id="auth-modal-alert" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
                <span id="auth-modal-alert-msg"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
            <button type="button" class="btn btn-primary" id="auth-modal-btn">Увійти</button></div></div></div></div>
    </div>
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
</body>
</html>    