{% extends "_layout.html" %}

{% block title %}Forms{% endblock %}

{% block content %}
<h1 class="display-4">Форми. Передача комплексних параметрів.</h1>
<p>
    Форми (HTML-форми) - інструментарій браузера для передачі даних до сервера. 
    Форми задаються парним тегом <code>&lt;form id="the-form"&gt;&lt;/form&gt;</code>, між 
    якими розміщуються елементи форм (<code>input, button, select, textarea</code>).
    Якщо елемент не може бути поміщений між тегами форми, то прив'язати його до 
    форми можна атрибутом form: <code> &lt;input form="the-form".../&gt; </code>, де 
    "the-form" - це ідентифікатор форми. Надсилання форми ініціюється натисненням 
    елементу з типом <code>type="submit"</code>. При надсиланні форма збирає дані про 
    всі свої елементи, які мають встановлений атрибут <code>name</code> (якщо елемент 
    належить елементів форми, але не має імені, то він не включається до передачі даних).
</p>
<p>
    Django має вбудовані засоби, що спрощують побудову форм та прийому їх даних. 
    Вони є класами, що спадкуються від класу Form (див. файл forms/demo_form.py)
</p>
<p>
    Після декларації форму можна зобразити в одному з закладених способів:
    (при цьому звертаємо увагу на те, що формуються тільки елементи, відсутній
    тег самої форми, а також теги-оточення - списків чи таблиць)
</p>
<div class="row">
    <div class="col col-3">
        <h4>as_div</h4>
        {{ form.as_div }}
    </div>
    <div class="col col-3">
        <h4>as_p</h4>
        {{ form.as_p }}
    </div>
    <div class="col col-3">
        <h4>as_ul</h4>
        <!-- as_ul формує кожен елемен форми як <li>, але не створює <ul> -->
        <ul>
            {{ form.as_ul }}
        </ul>        
    </div>
    <div class="col col-3">
        <h4>as_table</h4>
        <!-- as_ul формує кожен елемен форми як <tr>, але не створює <table> -->
        <table>
            {{ form.as_table }}
        </table>        
    </div>
</div>
<p>
    Коли форма надсилається методом POST, Django автоматично задіює механізм 
    перевірки Cross Site Request Forgery (CSRF). У той же час, автоматичного 
    додавання токенів перевірки не здійснюється. Якщо такі форми є на сторінці, 
    до них необхідно додавати <code>{&percnt; csrf_token &percnt;}</code> у будь-яке
    місце але в середині форми. Також переконатись що в рендері шаблона передається
    об'єкт-запит (<code>template.render(context=context, request=request)</code>)
</p>
<div class="row">
    <div class="col-6 offset-3 border p-3">
        <form method="post">
            {% csrf_token %}
            <h3>Готова форма:</h3>
            <table class="table ">
                {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-success">Надіслати</button>
        </form>
    </div>
</div>

<h2>Приймання та оброблення даних форми</h2>
<p>
    Реалізувати оброблення даних форми можна кількома способами:<br/>
    1. Надсилати форму на окрему адресу<br/>
    2. Розрізняти запити за методами, якими вони надходять (GET/POST)
</p>

{% endblock %}