{% extends "_layout.html" %}

{% block title %}Forms{% endblock %}

{% block content %}
<h1 class="display-4">Форми. Передача комплексних параметрів.</h1>
<h2>Окрема сторінка для підсумку успішного оброблення форми</h2>
<p>
    Від форми одержані дані: {{ form.cleaned_data }}
</p>
Д.З. Створити окрему сторінку для заповнення даних про обрану сутність сайту:
товар, коментар (публікацію форуму), готель, дані про авто для таксі, тощо. 
Реалізувати два шаблони - для самої форми та її успішного заповнення. 
{% endblock %}