{% extends "_layout.html" %}

{% block title %}Layouting{% endblock %}

{% block content %}
<h1 class="display-4">Шаблонізація</h1>
<p>
    Шаблонізація (layouting) сторінок - створення єдиного оточення, яке формуватиме
    зовнішній вигляд постійних елементів різних сторінок сайту - 
    заголовкової частини, підвалу (footer), а також бічних чи 
    рекламних панелей (за наявності)
</p>
<p>
    Загальна ідея - використання іменованих блоків та спадкування
    templates
</p>
<ul>
    <li>Створюємо ще один файл-шаблон layout.html  у директорії templates</li>
    <li>Переносимо до нього усе, що спільне для сторінок </li>
    <li>Частини, що мають змінюватись, позначаємо блоками</li>
    <li>Зазначаємо спадковість у home.html (див. перший рядок)</li>
</ul>

{% endblock %}