{% extends "_layout.html" %}

{% block title %}Models{% endblock %}

{% block content %}
<h1 class="display-4">Моделі. Збереження даних у БД</h1>
<p>
    Модель (як частина назви MVT) - архітектурна частина проєкту, яка відповідає за 
    взаємодію з даними. Частіше за все, мова іде про взаємодію з базами даних. 
    Як імплементація, модель - це клас (або об'єкт), призначений для передачі даних 
    від/до бази даних. 
</p>
<p>
    База даних - у Django є "з коробки" - при інсталяції проєкту створюється БД 
    <code>db.sqlite3</code>, робота з якою налаштована за замовчанням.
</p>
<p>
    Порядок створення моделей:
</p>
<ul>
    <li>Оголошуємо класи моделей (див. App3/models.py)</li>
    <li>Створюємо міграцію: інструкцію з перенесення опису моделі до 
        аналогічних змін у БД:<br/>
        <code>python manage.py makemigrations App33</code><br/>
        <tt>Migrations for 'App33':<br/>
        App33\migrations\0001_initial.py<br/>
            + Create model User</tt><br/>
    </li>
    <li>Застосовуємо міграцію - виконуємо команди (інструкції) для БД<br/>
        <code>python manage.py migrate</code><br/>
        <tt>
            Operations to perform:<br/>
            Apply all migrations: App33, admin, auth, contenttypes, sessions<br/>
            Running migrations:<br/>
            Applying App33.0001_initial... OK<br/>
        </tt>
    </li>
    <li>Реєструємо модель у панелі адміністратора (див. admin.py)</li>
    <li></li>
</ul>
<h2>Адміністрування моделей у БД</h2>
<p>
    У Django є вбудований інструментарій адміністрування даних (admin.py), 
    для налаштування роботи якого необхідно виконати ряд дій:
</p>
<ul>
    <li>Створити адміністратора - суперкористувача системи<br/>
        <code>python manage.py createsuperuser</code><br/>
        <tt>
            Username (leave blank to use 'lector'): admin<br/>
            Email address: admin@i.ua<br/>
            Password: root<br/>
            Password (again): root<br/>
            This password is too short. It must contain at least 8 characters.<br/>
            This password is too common.<br/>
            Bypass password validation and create user anyway? [y/N]: y<br/>
            Superuser created successfully.<br/>
        </tt>
    </li>
    <li>Запускаємо проєкт (сервер) та переходимо за адресою 
        <a href="/admin">/admin</a>, вводимо логін та пароль, що 
        зазначали при створенні адміністратора (admin/root)
    </li>
    <li></li>
</ul>
<h2>Організація роботи з користувачами (моделі користувачів)</h2>
<ol>
    <li>Вимога міжнародного законодавства: 
        <a href="https://gdpr-info.eu/art-17-gdpr/">"право бути забутим"</a>
        змушує інформаційну систему реалізовувати функцію видалення 
        персональних даних користувачів. 
    </li>
    <li>Вимоги внутрішньої безпеки змушують вести облік усіх дій, які 
        призводять до змін системи, що для веб просто означає "усіх". 
        Це може протирічити п.1 через те, що запис про дії може стосуватись
        видаленого користувача. 
    </li>
    <li>Балансом є розділення даних про користувача на дві групи: 
        персональні дані та реєстраційні (безпекові) дані. Відповідно, 
        потрібні дві моделі даних. 
    </li>
    <li>
        Безпекова модель регулюється стандартом 
        <a href="https://datatracker.ietf.org/doc/html/rfc2898">RFC 2898</a>,
        у якому зазначаються правила збереження логіну та паролю у БД. 
        <ul>
            <li>DK = KDF(P, S): пароль не зберігається у БД у відкритому вигляді, 
                він перетворюється у DK (Derived key) за допомогою функції похідного
                ключа KDF. Окрім паролю до неї передається "сіль" - випадкова величина,
                яка призначена для ускладнення задач зламу паролів. 
            </li>
            <li>Стандартом передбачено два варіанти для KDF, рекомендований - PBKDF2,
                у Python є його реалізація. 
            </li>
            <li>У БД зберігаються логін, сіль та DK, а також слід передбачити, що 
                у користувача можуть бути різні ролі (що обгрунтовує побудови третьої моделі)
            </li>
            <li></li>
        </ul>
    </li>
</ol>
{% endblock %}