{% extends "_layout.html" %}
{% load static %}

{% block title %}Static{% endblock %}

{% block content %}
<h1 class="display-4">Робота зі статичними файлами</h1>
<p>
    Статичні файли - ресурси сайту, що не змінюються при перезапитах - 
    картинки, файли стилів та скриптів, звуки, відео тощо. 
    Зазвичай, якщо запит містить ім'я існуючого файлу, то сервер
    автоматично завантажує його у відповідь. Проте, формально, запит 
    не прямо звертається до файлу, а це робить сервер при відповідних
    налаштуваннях. У Django автоматичного вивантаження файлів немає, 
    необхідно змінювати налаштування серверу.
</p>
<ul>
    <li>Знаходимо та відкриваємо файл налаштувань проєкту (/Project33/settings.py)</li>
    <li>Знаходимо розділ з коментарем # Static files (CSS, JavaScript, Images)
        Додаємо інструкції <br/>
        <code>
            STATICFILES_DIRS = [              <br/>
            &emsp; BASE_DIR / "App33/static"  <br/>
            ]                                 <br/>
        </code>
    </li>
    <li>Створюмо директорію App33/static (папку static у директорії застосунку App3).
        У ній - піддиректорію css, у ній - файл site.css
    </li>
    <li>Вносимо зміни до _layout.html - до початку додаємо { % load static % }, у 
        заголовкову частину - додаємо посилання на стилі<br/>
        <code>
            &lt;link rel="stylesheet" href="{&percnt; static 'css/site.css' &percnt;}" />
        </code>
    </li>
    <li>Оновлюємо сторінку на браузері, спостерігаємо за підключенням стилей</li>
    <li>Директиву { % load static % } повторюємо у всіх файлах-шаблонах,
        у яких є звернення до ресурсів.
    </li>
</ul>
<img src="{% static 'img/Python.png' %}" alt="Python.png" width="100"/>
Д.З. Реалізувати роботу з різними статичними файлами: картинки, звуки, 
відео, документи тощо. На сторінці /statics розмістити аудіоплейер, 
відеоплейер, посилання на PDF-документ. Забезпечити роботу з цими 
ресурсами. До звіту з ДЗ додавати скріншоти/відеозаписи робочого столу
{% endblock %}